#map {
    width: 100%; /* or specify a fixed width */
    height: 400px; /* or specify a fixed height */
}

#sidebarA {
    color: black;
}

.theme {
    background-color: #F9D50B;
    color: black; /* Change text color to black */
}

.select {
    font-style: italic;
    opacity: .7;
    color: black; /* Change text color to black */
}

#filterResults {
    font-size: 12px;
    color: white;
    background-color: #000000;
}

.mapboxgl-ctrl-geocoder--input {
    padding: 6px 30px;
    margin-left: 5px;
    color: black; /* Change text color to black */
}

.listings .item {
    font-size: 14px;
    word-wrap: break-word;
    text-decoration: none;
    border-bottom: solid rgb(34, 33, 33, .3) 1px;
    color: #2A395F; /* Change text color to your preferred color */
}

.listings .item:last-child {
    border-bottom: none;
}

.listings .item .title {
    display: inline-block;
    width: 100%;
    color: #2A395F;
    font-weight: 800;
    margin-top: 5px;
    text-decoration: none;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #2A395F;
}

.clearfix {
    display: block;
}

.clearfix::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Popup styles */
.mapboxgl-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Adjust z-index as needed to ensure it appears above other content */
}

.mapboxgl-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    text-align: left;
    padding: 20px;
    max-width: 80%;
    background-color: #F9D50B;
    color: #2A395F;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.mapboxgl-popup-content button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    padding: 0 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    margin-bottom: 8px;
}

.mapboxgl-popup-content button:hover {
    background-color: #f4f4f4;
    border-color: #bbb;
}

.mapboxgl-popup-content button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.mapboxgl-popup-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.mapboxgl-popup-content h3 {
    font-weight: 600;
    margin-bottom: 8px;
    color: black;
}

.mapboxgl-popup-content p {
    margin: 0;
    color: black;
}
