/* Original styles */
#map {
    width: 100%; /* or specify a fixed width */
    height: 400px; /* or specify a fixed height */
}

.theme, .select, #filterResults, .mapboxgl-ctrl-geocoder--input, .listings .item, .listings .item .title {
    color: black;
}

.theme, .select, .mapboxgl-ctrl-geocoder--input {
    background-color: #F9D50B;
}

.select {
    font-style: italic;
    opacity: .7;
}

.listings .item, .listings .item .title {
    color: #2A395F; /* Change text color to your preferred color */
}

.listings .item {
    font-size: 14px;
    word-wrap: break-word;
    text-decoration: none;
    border-bottom: solid rgb(34, 33, 33, .3) 1px;
}

.listings .item:last-child {
    border-bottom: none;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #2A395F;
}

.clearfix::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Popup styles */
.mapboxgl-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Adjust z-index as needed to ensure it appears above other content */
}

.mapboxgl-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    text-align: left;
    padding: 20px;
    max-width: 80%;
    background-color: #F9D50B;
    color: #2A395F;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.mapboxgl-popup-content button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    padding: 0 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    margin-bottom: 8px;
}

.mapboxgl-popup-content button:hover {
    background-color: #f4f4f4;
    border-color: #bbb;
}

.mapboxgl-popup-content button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.mapboxgl-popup-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.mapboxgl-popup-content h3, .mapboxgl-popup-content p {
    color: black;
}

/* Additional styles */
#map-container {
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative; /* Ensure the container is positioned relative to its parent */
}

#sidebarB {
    width: 300px; /* Adjust as needed */
    height: 100%;
    background-color: #ffffff;
    border-right: 1px solid #ccc;
    overflow: auto;
    transition: width 0.3s ease;
    flex-shrink: 0; /* Prevent sidebar from shrinking */
}

/* Collapsed state for the sidebar */
#sidebarB.collapsed {
    width: 0;
}

/* Styling for the toggle arrows */
.sidebar-toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    cursor: pointer;
}

#sidebarB h3 {
    margin-top: 0;
}
#csvDropdown {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
}

#csvDropdown option {
  background-color: #fff;
  color: #333;
}

/* Style the dropdown arrow */
#csvDropdown::-ms-expand {
  display: none; /* Hide the default arrow on IE10 and IE11 */
}

#csvDropdown::before {
  content: '\25BC'; /* Unicode character for down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Style the dropdown arrow when dropdown is open */
#csvDropdown.open::before {
  content: '\25B2'; /* Unicode character for up arrow */
}

/* Style the dropdown when it is open */
#csvDropdown.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}


/* Add more styles as needed */
