#sidebarA{
    color: black;
}

#toggleButton1,
#toggleButton2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 0 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

#toggleButton1:hover,
#toggleButton2:hover {
  background-color: #f4f4f4;
  border-color: #bbb;
}

#toggleButton1:focus,
#toggleButton2:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

#filterResults{
    font-size: 12px;
    color: white;
    background-color: #000000;

}


.theme{
    background-color: #F9D50B;
}

.select{
    font-style: italic;
    opacity: .7;
}

.mapboxgl-ctrl-geocoder--input {
    padding: 6px 30px;
    margin-left: 5px;
}

.listings .item {
    font-size: 14px;
    word-wrap: break-word;
    text-decoration: none;
    border-bottom: solid rgb(34, 33, 33, .3) 1px;
}

.listings .item:last-child {
    border-bottom: none;
}

.listings .item .title {
    display: inline-block;
    width: 100%;
    color: #2A395F;
    font-weight: 800;
    margin-top: 5px;
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #2A395F;
}


.clearfix {
    display: block;
}

.clearfix::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.mapboxgl-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    text-align: center;
    padding: 5;
    width: 180px;
  }

.mapboxgl-popup-close-button {
    display: none;
  }

.mapboxgl-popup-content h3 {
    color:black;
    font-weight: 500;
    margin: 0;
    display: block;

  }


  
